.container {
  visibility: visible;
  display: flex;
  width: 300px;
  height: 100%;
  background-color: #fff;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  flex-direction: column;
  text-align: center;
  font-size: 1.2rem;
  font-family: "Times New Roman", Times, serif;
  letter-spacing: 1px;
  font-weight: 500;
  transition: width 0.2s ease; /*TODO buraya bakılcak */
}

.sideMenuDesign {
  width: 80px !important;
  justify-content: center !important;
  align-items: center !important;
  text-align: center;
  font-size: 0 !important;
}

.ant-menu-submenu-title {
  padding: unset !important;
}

.sideMenuDesign > .ant-menu-submenu-arrow {
  visibility: hidden !important;
}

.iconLand {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.iconFixer {
  position: relative;
  top: 2px;
}

.dropdown-content {
  display: block;
  position: relative;
  bottom: 0;
  background-color: #f9f9f9;
  color: black;
  min-width: 160px;
  min-height: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.25);
  padding: 6px 8px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  background-color: #8f959b27;
  padding: 3px;
}
.grid-item {
  background-color: rgb(248, 248, 248);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 16px;
  font-size: 30px;
  text-align: center;
}

.active {
  background-color: rgba(248, 248, 248, 0.048) !important ;
}

.hided {
  display: none;
}

.cursorPointer:hover {
  cursor: pointer;
}

.options {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  padding: 8px;
  column-gap: 14px;
  margin-bottom: 20px;
  font-size: 0.9rem;
  font-weight: 600;
  transition: flex-direction 0.4s ease-out;
}

.optionsDesign {
  flex-direction: column !important;
  justify-content: space-evenly !important;
  padding: 0 !important;
  row-gap: 14px;
  margin-top: 15px !important;
  font-size: 0.7rem !important;
}

.fontAwesomeIcons {
  width: 25px;
  height: 25px;
}

.clearMarkerBtn {
  position: absolute !important;
  display: flex;
  bottom: 0;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
