.container {
  visibility: visible;
  display: flex;
  width: 300px;
  height: 100%;
  background-color: #fff;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  flex-direction: column;
  text-align: center;
  /* row-gap: 25px; */
  font-size: 1.2rem;
  font-family: "Times New Roman", Times, serif;

  letter-spacing: 1px;
}

.section {
  background-color: rgba(128, 0, 128, 0.644);
  padding: 8px;
  display: flex;
  justify-content: center;
  column-gap: 8px;
  flex-direction: column;
}

.iconSection {
  min-height: 21px;
  padding: 8px;
  color: white;
  max-height: 350px;
}

.iconLand {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.iconFixer {
  position: relative;
  top: 2px;
}

.back {
  position: relative;
  top: 0;
  left: 10px;
  border-radius: 10%;
  padding: 8px;
  background-color: rgb(174, 175, 175);
  margin-top: 5px;
}

.buttonSection {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.hidedBack {
  position: fixed;
  right: 10px;
  top: 10px;
  border-radius: 10%;
  padding: 8px;
  background-color: rgb(125, 143, 160);
  font-size: 1.1rem;
  color: white;
  z-index: 1001;
  display: none;
}

.dropdown-content {
  display: block;
  position: relative;
  bottom: 0;
  background-color: #f9f9f9;
  color: black;
  min-width: 160px;
  min-height: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.25);
  padding: 6px 8px;
  /* z-index: 1; */
}

.subIconMenus {
  min-height: 80px;

  display: flex none;
  flex-direction: column;
  position: relative;
  row-gap: 8px;
  justify-content: space-between;
  bottom: -8px;
  margin-bottom: 24px;
  overflow-y: auto;
}

.subIconMenus::-webkit-scrollbar {
  width: 0.7vw;
}

.subIconMenus::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}
.subIconMenus::-webkit-scrollbar-track {
  background: rgb(163, 158, 158);
  border-radius: 10px;
}

.subIconPool {
  background-color: rgba(161, 138, 138, 0.7);
  padding: 8px;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #8f959b;
  padding: 3px;
}

.active {
  background-color: rgba(248, 248, 248, 0.3) !important ;
}

.grid-item {
  background-color: rgb(248, 248, 248);

  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 16px;
  font-size: 30px;
  text-align: center;
}

.cursorPointer:hover {
  cursor: pointer;
}

.hided {
  display: none;
}

.options {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: auto;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 0.8rem;
}
